
.nested{

  max-width: min(90vw, 900px);

  .container{
    margin: 21px 0;

    input{
      margin-top: 12px;
      min-width: 100%;
      padding: 5px;
      font-size: large;
    }
  }

  .code{
    padding: 21px;
    border: 1px solid white;
    overflow: hidden;
  }
}